snippet sfc
import React, {SFC} from 'react'

interface Props {
  ${0}
}

const ${1:MyComponent}: SFC<Props> = (props) => {
  return null
}

export default $1
endsnippet

snippet pure
import React, {PureComponent} from 'react'

interface Props {
  ${0}
}

interface State {}

class ${1:MyClass} extends PureComponent<Props, State> {
  constructor(props) {
    super(props)

    this.state = {}
  }

  public render() {
    return null
  }
}

export default $1
endsnippet
